* {
    margin: 0;
    top: 0;
}

body {
    background: black;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    background: gray;
    padding: 25px;
}

header nav {
    display: flex;
    gap: 15px;
}

header nav a {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}