* {
    margin: 0;
    padding: 0;
}

body {
    background: #F5F5F3;
    color: #2B2B2B;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E6E6E6;
    padding: 25px 40px;
    border-bottom: 2px solid #4F6F52;
}

header .perfil {
    display: flex;
    align-items: center;
    gap: 15px;
}

header .perfil img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #4F6F52;
}

header .perfil h1 {
    font-size: 1.4rem;
    font-weight: 600;
}

header .atalhos {
    display: flex;
    gap: 20px;
    align-items: center;
}

header .atalhos a {
    padding: 8px 14px;
    border-radius: 8px;
    color: #4F6F52;
    font-weight: 500;
}

header .atalhos a:hover {
    background: #4F6F52;
    color: #F5F5F3;
}

main {
    padding: 60px 40px;
    text-align: center;
}

section {
    margin-bottom: 80px;
}

section h2 {
    margin-bottom: 20px;
    color: #4F6F52;
    font-size: 1.6rem;
}

footer {
    background: #E6E6E6;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    border-top: 1px solid #4F6F52;
}




/* habilidades Tecnicas */
.habilidades-container {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-habilidade {
    background: #FFFFFF;
    padding: 25px;
    width: 250px;
    border-radius: 12px;
    border: 1px solid #E6E6E6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
    text-align: center;
    transition: 0.3s ease;
}


.card-habilidade img {
    width: 60px;
    margin-bottom: 15px;
}

.card-habilidade h3 {
    margin-bottom: 15px;
    color: #4F6F52;
}

.barra {
    height: 100%;
    background: #4F6F52;
}

.card-habilidade p {
    font-size: 0.9rem;
    color: #555;
}




/* projetos */
.projetos-container {
    display: grid;
    gap: 30px;
    margin-top: 40px;
}

.card-projeto {
    background: #FFFFFF;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #E6E6E6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}


.card-projeto h3 {
    margin-bottom: 10px;
    color: #4F6F52;
}

.card-projeto .descricao {
    margin-bottom: 15px;
    line-height: 1.5;
}

.card-projeto .tecnologias {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: #555;
}

.btn-demo {
    display: inline-block;
    padding: 8px 14px;
    background: #4F6F52;
    color: #F5F5F3;
    border-radius: 6px;
    font-size: 0.9rem;
}



/* contatos */
.contato-container {
    display: flex;
    gap: 60px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.info-contato {
    display: flex;
    gap: 20px;
}

.info-contato a {
    background: #FFFFFF;
    padding: 12px 18px;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    color: #4F6F52;
    font-weight: 500;
}